<div class="col-lg-12 titulo">
    <div class="col-lg-8 letratitulo">
        Agenda telefónica
    </div>
    <form>
        <div class="col-lg-4 posicion">
            <input  type="Text" class="buscartexto" placeholder="Buscar">
            <button class="btn btn-default botones" type="button" ><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            <a href="#!agregarcontacto" class="btn btn-default botones">Agregar</a>
            <a href="#!/logout" class="btn btn-default botones">Logout</a>
        </div>
    </form>
</div>

