<div ng-include=" 'app/template/partial/cabezera.html'" ng-init="sessionStorage = session"></div>

<div class="panel-body col-lg-offset-1 col-lg-10 panelfondo">
    <table class="table tablaagenda">
        <tr>
            <th hidden>Id</th>
            <th>Foto</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefóno</th>
            <th>Correo</th>
            <th>Acciones</th>
        </tr>
        <tr ng-repeat="contacto in contacto">

            <td hidden>{{contacto.con_id}}</td>
            <td>{{contacto.con_foto}}</td>
            <td>{{contacto.con_nombre}}</td>
            <td>{{contacto.con_apellido}}</td>
            <td>{{contacto.con_telefono}}</td>
            <td>{{contacto.con_correo}}</td>
            <td><i ng-click="editarcontacto(contacto)" title="Editar" class="glyphicon glyphicon-edit"> </i>
                <i ng-click="Eliminarcontacto(contacto)" title="Eliminar" class="glyphicon glyphicon-trash"></i></td>
        </tr>
    </table>
</div>    



<!-- MODAL ELIMINAR COLABORADOR-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" id="eliminarContacto" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><i class="fa fa-trash"></i>
                    Eliminar Contacto</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="usuarioEliminado">
                    <center>Usuario Eliminado</center>
                </div>
                <center>
                    <h4>Esta seguro?</h4>
                    <p>Se va a eliminar el Usuario</p>
                    <h3>{{nombre}}</h3>
                </center>
                <button ng-click="submitEliminarContacto()" type="button" class="btn btn-danger btn-block btn-sm">Eliminar</button>
            </div>
        </div>
    </div>
</div>
