<div class="row rowLogin">
    <div class="col-lg-2 col-lg-offset-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <form ng-submit="submit()">
                    <div class="form-group fr">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input ng-model="datos.usuario" type="text" class="form-control" id="usuario" placeholder="Usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"></i>
                            </span>
                            <input ng-model="datos.contrasena" type="password" class="form-control" id="contrasena" placeholder="Contraseña" required>
                        </div>
                    </div>
                    <div class="alert alert-danger" ng-show="usuarioErroneo">
                        Usuario Invalido
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" id="bt">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>
</div>



