.titulo{
    background-color: #C1C1C1;    
    border: 2px #000 solid;
}

.letratitulo{
    font-size: 50px;
}

.posicion{
    padding-top: 18px;
}
.buscartexto{
    width: 300px; 
    border: 1px #000 solid;
    height: 30px;

}
.botones{
    padding-left: 10px;
    box-shadow: 3px 3px #000;
    height: 30px;
}

.panelfondo{
    margin-top: 20px;
    border: 2px #000 solid;
}
.tablaagenda{
   border: 1px #000 solid;
   border-collapse:  separate;
}
.nuevocontacto{
    font-size: 30px;
}

.espacio{
    padding-top: 30px;
}


